---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import PartnerCard from "../components/PartnerCard.astro";
---

<Layout title="Our Partners.">
    <main>
        <Nav />
        <PageTitle title="Our Partners" />
        <section class="bg-gray-50 py-12">
            <div class="max-w-4xl mx-auto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus vitae veniam laboriosam enim accusantium? Deleniti
                praesentium provident consequuntur neque explicabo nostrum? Aut,
                sed neque, sapiente cum repellat enim architecto magnam nemo
                reprehenderit, corrupti optio quas quod a non ab nulla delectus
                vel! Voluptatibus dolores quidem expedita aut placeat ad
                quaerat.
            </div>
        </section>
        <section class="max-w-4xl mx-auto my-8">
            <div class="">
                <PartnerCard
                    name="David Breuer"
                    title="Partner"
                    phone="(123) 456-7890"
                    email="test@example.com"
                    content="<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis saepe doloremque placeat quas aperiam, vero est laudantium, alias dignissimos ipsam sed rerum iusto perspiciatis unde nesciunt veniam soluta perferendis ut temporibus! Sequi corrupti neque, pariatur dicta repellat error suscipit, nemo illum vitae voluptatibus veniam fuga, quis quaerat fugiat eligendi explicabo aspernatur nulla! Exercitationem id harum quam delectus! Sunt deleniti dicta magni omnis incidunt soluta cupiditate assumenda, error ab fugit deserunt est odio minima porro fuga eligendi at molestias sint voluptatem asperiores dolore illo. </p><p>Doloribus, odit minima, dignissimos illum repellendus eveniet voluptate nesciunt veniam quasi omnis iusto neque labore atque architecto nemo laudantium iure. Fugiat earum harum sed accusamus at reprehenderit maiores, adipisci ratione enim veniam omnis inventore odio pariatur odit est, possimus, recusandae corporis eos nihil impedit tenetur! Sunt sed corporis voluptate dolorum ullam culpa ex ad, quis impedit? Delectus deleniti quaerat quisquam eos ipsam accusantium veritatis vitae soluta.</p>"
                    linkedin="https://linkedin.com/"
                    image="img/david.jpg"
                    show_image={true}
                    show_learnmore={false}
                />
                <PartnerCard
                    name="Jason Herskowitz"
                    title="Partner"
                    phone="(123) 456-7890"
                    email="test@example.com"
                    content="<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis saepe doloremque placeat quas aperiam, vero est laudantium, alias dignissimos ipsam sed rerum iusto perspiciatis unde nesciunt veniam soluta perferendis ut temporibus! Sequi corrupti neque, pariatur dicta repellat error suscipit, nemo illum vitae voluptatibus veniam fuga, quis quaerat fugiat eligendi explicabo aspernatur nulla! Exercitationem id harum quam delectus! Sunt deleniti dicta magni omnis incidunt soluta cupiditate assumenda, error ab fugit deserunt est odio minima porro fuga eligendi at molestias sint voluptatem asperiores dolore illo. </p><p>Doloribus, odit minima, dignissimos illum repellendus eveniet voluptate nesciunt veniam quasi omnis iusto neque labore atque architecto nemo laudantium iure. Fugiat earum harum sed accusamus at reprehenderit maiores, adipisci ratione enim veniam omnis inventore odio pariatur odit est, possimus, recusandae corporis eos nihil impedit tenetur! Sunt sed corporis voluptate dolorum ullam culpa ex ad, quis impedit? Delectus deleniti quaerat quisquam eos ipsam accusantium veritatis vitae soluta.</p>"
                    linkedin="https://linkedin.com/"
                    image="img/jason.jpg"
                    show_image={true}
                    show_learnmore={false}
                />
                <PartnerCard
                    name="Dan Weinberger"
                    title="Partner"
                    phone="(123) 456-7890"
                    email="test@example.com"
                    content="<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis saepe doloremque placeat quas aperiam, vero est laudantium, alias dignissimos ipsam sed rerum iusto perspiciatis unde nesciunt veniam soluta perferendis ut temporibus! Sequi corrupti neque, pariatur dicta repellat error suscipit, nemo illum vitae voluptatibus veniam fuga, quis quaerat fugiat eligendi explicabo aspernatur nulla! Exercitationem id harum quam delectus! Sunt deleniti dicta magni omnis incidunt soluta cupiditate assumenda, error ab fugit deserunt est odio minima porro fuga eligendi at molestias sint voluptatem asperiores dolore illo. </p><p>Doloribus, odit minima, dignissimos illum repellendus eveniet voluptate nesciunt veniam quasi omnis iusto neque labore atque architecto nemo laudantium iure. Fugiat earum harum sed accusamus at reprehenderit maiores, adipisci ratione enim veniam omnis inventore odio pariatur odit est, possimus, recusandae corporis eos nihil impedit tenetur! Sunt sed corporis voluptate dolorum ullam culpa ex ad, quis impedit? Delectus deleniti quaerat quisquam eos ipsam accusantium veritatis vitae soluta.</p>"
                    linkedin="https://linkedin.com/"
                    image="img/dan.jpg"
                    show_image={true}
                    show_learnmore={false}
                />
            </div>
        </section>
    </main>
</Layout>
